ILIAS_URL=https://ilias.unibe.ch
ILIAS_INSTITUTION=https://aai-idp.unibe.ch/idp/shibboleth
SWITCH_EDU_ID_EMAIL=your.name@students.unibe.ch
SWITCH_EDU_ID_PASSWORD=yourpassword
DOWNLOAD_DIR=./ilias_downloads
MAX_FILENAME_LEN=128
MAX_DIRNAME_LEN=64
VIDEO_QUALITY=lowest
